extends layout.pug

block append content

	p #{ message }

	div.container-fluid

		div.row
			//- Left Column
			div.col-sm-3.p-2

				//- Profile
				div.card.text-center.text-white.bg-secondary.mb-3
					h4 #{ first_name } #{ last_name }
					a.btn.btn-secondary(href="/assets/pages/My_Profile.html")
						img(src="/assets/images/pics/profile1.jpg" style="height:100%;width:100%" alt="Profile Picture")
					hr
					h5 #{ membership_role }
					p 
						i.fa.fa-home 
						span &nbsp#{ city },&nbsp #{ state },&nbsp #{ zipCode }
					p Member since #{ date_member_joined.toDateString() }
					if loggedIn 
						h6 #{ first_name } is online now.
					else 
						h6 #{ first_name } is not online.
				br
				//- Accordian
				div.accordion#accordion
					div.card
						div.card-header.bg-secondary.mb-0#headingOne
							h2.mb-0
								button.btn.btn-secondary.collapsed.text-white(type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne") My Projects
						div#collapseOne.collapse(aria-labelledby="headingOne" data-parent="#accordion")
							div.card-body
								a(href="/triage-project-az-phoenix/" + id) Phoenix
								br
								a(href="/triage-project-az-tucson/" + id) Tucson

					div.card
						div.card-header.bg-secondary.mb-0#headingTwo
							h2.mb-0
								button.btn.btn-secondary.collapsed.text-white(type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo") My Events
						div#collapseTwo.collapse(aria-labelledby="headingTwo" data-parent="#accordion")
							div.card-body
								p Training Schedule
								p Outreach Schedule
								p Community Events

					div.card
						div.card-header.bg-secondary.mb-0#headingThree
							h2.mb-0
								button.btn.btn-secondary.collapsed.text-white(type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree") My Photos
						div#collapseThree.collapse(aria-labelledby="headingThree" data-parent="#accordion")
							div.card-body
								div.card-deck
									div.card
										img.img-fluid.img-thumbnail(src="/assets/images/pics/profile1.jpg").mb
									div.card
										img.img-fluid.img-thumbnail(src="/assets/images/pics/community_services1.jpg").mb
									div.card
										img.img-fluid.img-thumbnail(src="/assets/images/pics/profile1.jpg").mb
									div.card
										img.img-fluid.img-thumbnail(src="/assets/images/pics/community_services1.jpg").mb
									div.card
										img.img-fluid.img-thumbnail(src="/assets/images/pics/profile1.jpg").mb
									div.card
										img.img-fluid.img-thumbnail(src="/assets/images/pics/community_services1.jpg").mb

					div.card
						div.card-header.bg-secondary.mb-0#headingFour 
							h2.mb-0
								button.btn.btn-secondary.collapsed.text-white(type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour") My Certifications
						div#collapseFour.collapse(aria-labelledby="headingFour" data-parent="#accordion") 
							div.card-body
								a(href="#") Project Leader
								br
								a(href="#") TriAge Mentor
								br
								a(href="#") Peer Support
								br
								a(href="#") TriAge Volunteer
								br
								a(href="#") Peer Training
								br
								a(href="#") Challenge 
				br
				//- Feedback
				div.container.card.white.text-center.text-white.bg-secondary.mb-3
					div.p-3
						h6.p-3 How's our service?
						p(contenteditable="true").border.padding Enter questions or  comments here
						button.btn.btn-secondary.collapsed.text-white.theme Send Message

			//- Center Column
			div.col-sm-6.p-1
				div
					div.row.p-2
						div.container.card.white.text-center
							h4 Need a break?
							h5 Visit the game area.
							p 
								a.button.btn.btn-outline-dark(href="/member-games/" + id, alt="games")
									i.fa.fa-chess-knight 
									br
									span TriAge Games
							p 
								button.btn.btn-primary.btn-lg#register-btn(type="button")
									//- a.text-decoration-none.text-white(href="/triage-main-challenge-modules-viewer/" + id + "/1") Module View Pages
									a.text-decoration-none.text-white(href=`/triage-main-challenge-modules-viewer/${id}/0`) Module View Pages
								br

				//- div.slideshow-container
				//- 	iframe(src="/triage-main-challenge-modules/" + id)
				div.slideshow-container
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s1/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s2a/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s2aq1/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s2b/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s2c/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s2cq1/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s2cq2/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s2cq3/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s2cq4/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s2dr/" + id)
					div.mySlides  
						div
							iframe(src="/triage-main-challenge-modules-s3aq1/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s3b/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s3bq1/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s3bq2/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s3bq3/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s3bq4/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s3bq5/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s3br/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s3c/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s3cq1/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s3cq2/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s3cq3/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s3cq4/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s3cr/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s3d/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s3dq1/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s3dq2/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s3dq3/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s3dq4/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s3dq5/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s3dr/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s4a/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s4aq1/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s4bq1/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s4bq2/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s4bq3/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s4bq4/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s4br/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s4cq1/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s4cq2/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s4cq3/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s4cq4/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s4cq5/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s4cr/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s5a/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s5aq1/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s5bq1/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s5bq2/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s5bq3/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s5bq4/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s5br/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s5c/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s5cq1/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s5cq2/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s5cr/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s6a/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s6aq1/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s6aq2/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s6bq1/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s6bq2/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s6bq3/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s6bq4/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s6br/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s6cq1/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s6cq2/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s6cq3/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s6cq4/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s6cq5/" + id)
					div.mySlides
						div
							iframe(src="/triage-main-challenge-modules-s6cr/" + id)

					a.prev.moduleArrow(onclick="plusSlides(-1)") &#10094
					a.next.moduleArrow(onclick="plusSlides(1)") &#10095

				br
				div(style="text-align:center")
					span.dot(onclick="currentSlide(1)") 
					span.dot(onclick="currentSlide(2)") 
					span.dot(onclick="currentSlide(3)") 
					span.dot(onclick="currentSlide(4)") 
					span.dot(onclick="currentSlide(5)") 
					span.dot(onclick="currentSlide(6)") 
					span.dot(onclick="currentSlide(7)") 
					span.dot(onclick="currentSlide(8)") 
				br

				div(style="text-align:center")
					span.dot(onclick="currentSlide(9)") 
					span.dot(onclick="currentSlide(10)")  
					span.dot(onclick="currentSlide(11)") 
					span.dot(onclick="currentSlide(12)") 
					span.dot(onclick="currentSlide(13)") 
					span.dot(onclick="currentSlide(14)") 
					span.dot(onclick="currentSlide(15)") 
					span.dot(onclick="currentSlide(16)") 
				br

				div(style="text-align:center")
					span.dot(onclick="currentSlide(17)") 
					span.dot(onclick="currentSlide(18)") 
					span.dot(onclick="currentSlide(19)") 
					span.dot(onclick="currentSlide(20)")  
					span.dot(onclick="currentSlide(21)") 
					span.dot(onclick="currentSlide(22)") 
					span.dot(onclick="currentSlide(23)") 
					span.dot(onclick="currentSlide(24)") 
				br

				div(style="text-align:center")
					span.dot(onclick="currentSlide(25)") 
					span.dot(onclick="currentSlide(26)") 
					span.dot(onclick="currentSlide(27)") 
					span.dot(onclick="currentSlide(28)") 
					span.dot(onclick="currentSlide(29)") 
					span.dot(onclick="currentSlide(30)")  
					span.dot(onclick="currentSlide(31)") 
					span.dot(onclick="currentSlide(32)") 
				br

				div(style="text-align:center")
					span.dot(onclick="currentSlide(33)") 
					span.dot(onclick="currentSlide(34)") 
					span.dot(onclick="currentSlide(35)") 
					span.dot(onclick="currentSlide(36)") 
					span.dot(onclick="currentSlide(37)") 
					span.dot(onclick="currentSlide(38)") 
					span.dot(onclick="currentSlide(39)") 
					span.dot(onclick="currentSlide(40)")
				br

				div(style="text-align:center")
					span.dot(onclick="currentSlide(41)") 
					span.dot(onclick="currentSlide(42)") 
					span.dot(onclick="currentSlide(43)") 
					span.dot(onclick="currentSlide(44)") 
					span.dot(onclick="currentSlide(45)") 
					span.dot(onclick="currentSlide(46)") 
					span.dot(onclick="currentSlide(47)") 
					span.dot(onclick="currentSlide(48)") 
				br

				div(style="text-align:center")
					span.dot(onclick="currentSlide(49)") 
					span.dot(onclick="currentSlide(50)")  
					span.dot(onclick="currentSlide(51)") 
					span.dot(onclick="currentSlide(52)") 
					span.dot(onclick="currentSlide(53)") 
					span.dot(onclick="currentSlide(54)") 
					span.dot(onclick="currentSlide(55)") 
					span.dot(onclick="currentSlide(56)") 
				br

				div(style="text-align:center")
					span.dot(onclick="currentSlide(57)") 
					span.dot(onclick="currentSlide(58)") 
					span.dot(onclick="currentSlide(59)") 
					span.dot(onclick="currentSlide(60)")  
					span.dot(onclick="currentSlide(61)") 
					span.dot(onclick="currentSlide(62)") 
					span.dot(onclick="currentSlide(63)") 
					span.dot(onclick="currentSlide(64)")
				br

				div(style="text-align:center") 
					span.dot(onclick="currentSlide(65)") 
					span.dot(onclick="currentSlide(66)") 
					span.dot(onclick="currentSlide(67)")
					span.dot(onclick="currentSlide(68)")
					span.dot(onclick="currentSlide(69)")

				script(src="/assets/javascript/modules.js")

			//- Right Column
			div.col-sm-3.p-1

				div.card.text-center.p-3
					div
						p Upcoming Events:
						img(src="/assets/images/pics/community_services1.jpg" alt="Store" style="width:80%;")
						p
							strong Volunteer Awards
						p Friday 19:00
						p Civic Center
						p 
							button Info

				div.card.text-center.p-3
					div
						p Need Peer Support or Assistance?
							img(src="/assets/images/pics/profile1.jpg" alt="Online Volunteer" style="width:70%")
							br
							span I'm online now.
							br 
							p Jane Doe
							div
								div
									button.button.btn-outline-secondary(title="Chat Request")
										i.fa.fa-handshake
										span &nbsp Chat Request

				div.card.p-3
					div
						p
							i.fa.fa-calendar-alt 
							span &nbsp TriAge Project community fundraiser starts next month!

				div.card.p-3
					div
						p
							i.fa.fa-calendar-alt
							span &nbsp Next Peer Support Specialist class:
							br 
							p 08/20/2023

