extends layout.pug 

block append content 

  div.container-fluid

    div.jumbotron

      h1 Hello #{ first_name }

      if (loggedIn) 
        h2 You are online now.
      else 
        h2 You are not online.
      h4 Your member id is:
        p #{ id }

      if (!message)
        h3 This is where you update your profile.
      else
        h3 #{ message }

      p #{ passwordMessage }

      form(action="/updateMemberProfile/" + id method="post")
        button.btn.btn-primary.btn-lg#password-btn(type="button" data-toggle="modal" data-target="#deleteModal") Delete Profile
        br
        button.btn.btn-primary.btn-lg#password-btn(type="button" data-toggle="modal" data-target="#passwordModal") Change password
        br
        label(for="password") Hashed Password:  
        p #{ password }
        br
        label(for="current_project") Current Project
          strong  :
          br
          u
            strong #{ current_project } 
          br
          select(id="current_project" name="current_project" required)
            option(value="") --
            option(value="Phoenix") Phoenix
            option(value="Tucson") Tucson
        br
        p Joined 
        span #{ date_member_joined.toDateString() }
        br
        p Time as member 
        span #{ time_as_member.toDateString() }
        br
        label(for="first_name") First Name: #{ first_name }
        input(type="text" name="first_name" placeholder= "first name" )
        br
        label(for="last_name") Last Name: #{ last_name }
        input(type="text" name="last_name" placeholder= "last name" )
        br
        label(for="email") E-mail: #{ email }
        input(type="text" name="email" placeholder="email")
        br
        label(for="phone") Phone: #{ phone }
        input(type="text" name="phone" placeholder="phone")
        br
        label(for="address1") Address 1: #{ address1 }
        input(type="text" name="address1" placeholder="address1") 
        br
        label(for="address2") Address 2: #{ address2 }
        input(type="text" name="address2" placeholder="address2")  
        br
        label(for="city") City: #{ city }
        input(type="text" name="city" placeholder="city") 
        br
        label(for="state") State: #{ state }
        input(type="text" name="state" placeholder="state") 
        br
        label(for="zipCode") Zip Code: #{ zipCode }
        input(type="text" name="zipCode" placeholder="zip Code") 
        br
        label(for="date_of_birth") date of birth: #{ date_of_birth }
        input(type="text" name="date_of_birth" placeholder="date_of_birth") 
        br      
        p 
        p Profile privacy setting
        input(type="checkbox" name="privacy" value="Show")
        label(for="privacy") Show Profile
        br
        input(type="checkbox" name="privacy" value ="Hide")
        label(for="privacy") Hide Profile 
        p Current privacy setting
          strong  :
          br
          u
            strong #{ privacy }
        p 
        p Profile membership status setting
        input(type="checkbox" name="membership_status" placeholder="membership_status setting" value="Active")
        label(for="membership_status") Active Membership
        br
        input(type="checkbox" name="membership_status" placeholder="membership_status setting" value ="Inactive")
        label(for="membership_status") Inactive Membership
        p Current membership status setting
          strong  :
          br
          u
            strong #{ membership_status }
        label(for="membership_role") Membership Role *
        br
        select(id="membership_role" name="membership_role" required)
            option(value="") --
            option(value="Member") Member
            option(value="Volunteer") Volunteer
            option(value="Peer") Peer
            option(value="Project Leader") Project Leader
            if membership_role === 'Site Manager'
              option(value="Site Manager") Site Manager
            else if membership_role === 'Local Administrator'
              option(value="Site Manager") Site Manager
              option(value="Local Administrator") Local Administrator
        br
        p Current Membership Role
          strong  :
          br
          if membership_role === 'Member'
            u 
              strong Member
          else if membership_role === 'Volunteer'
            u 
              strong Volunteer
          else if membership_role === 'Peer' 
            u
              strong Peer
          else if membership_role === 'Project Leader' 
            u
              strong Project Leader
          else if membership_role === 'Site Manager' 
            u
              strong Site Manager
          else if membership_role === 'Local Administrator' 
            u
              strong Local Administrator
          br
        button.btn.btn-primary.btn-lg#login-btn(type="submit") Submit

    div.modal.fade#passwordModal
      .modal-dialog
        .modal-content  
          .modal-header 
            h1.modal-title Change Password

          .modal-body
            //- form(action="/registerMember" method="post")  
            form(action="/updateMemberPassword/" + id method="post") 
              input(type="text" name="email" value=email hidden)
              //- - console.log("EMAIL", email)
              input(type="password" name="password1" placeholder="password" required)
              br
              input(type="password" name="password2" placeholder="confirm password *" required)
              br
              p * Required
              br
              button.btn.btn-primary.btn-lg#register-btn(type="submit") Submit

          .modal-footer
            button.btn.btn-lg.close(type="button" data-dismiss="modal") &times

    div.modal.fade#deleteModal
      .modal-dialog
        .modal-content  
          .modal-header 

          .modal-body 
            form(action="/deleteMember/" + id method="post") 
              input(type="text" name="id" value=id hidden)
              br
              button.btn.btn-primary.btn-lg#register-btn(type="submit") Confirm delete

          .modal-footer
            button.btn.btn-lg.close(type="button" data-dismiss="modal") &times