block append section
  link(rel="stylesheet" href="/assets/css/module_content.css") 
  section.container-2
    h2 TriAge Peer Training 
    h2 Keys to Success (S9d)
    p Student Id: #{ student_id }
    br
    h3 Key 3
    h3 Personal Daily/Weekly Log
    br
    h3 Daily/Weekly Personal Log
    br
    br
    div.table
      table.table-active.table-dark.table-striped.table-bordered.table-hover.table-condensed
        form#multi_form1(action="/secureMainPeerTrainingModulesS9d/" + id method="post")
          tr 
            td Week1 Start Date
              input(type="text" name="student_id" value=student_id hidden)
              input(type="text" name="answerDate" hidden)
              input(type="text" name="questionGroupModule" value="Peer Training" hidden)
              input(type="text" name="questionModule" value="9d" hidden)
              input(type="text" name="questionTitle" value="S9dQ1" hidden)
              input(type="text" name="answerTime" hidden)
              input(type="text" name="questionNumber" value="Q1" hidden)
              input(type="text" name="questionText" value="What?" hidden)
              //- br
              //- button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
            td 
              textarea(type="textarea" rows="3" cols="15" maxlength="40" id="what_stress" name="answerText" placeholder="Beginning date of week 1")
        form#multi_form1(action="/secureMainPeerTrainingModulesS9d/" + id method="post")
          tr 
            td What?
              input(type="text" name="student_id" value=student_id hidden)
              input(type="text" name="answerDate" hidden)
              input(type="text" name="questionGroupModule" value="Peer Training" hidden)
              input(type="text" name="questionModule" value="9d" hidden)
              input(type="text" name="questionTitle" value="S9dQ2" hidden)
              input(type="text" name="answerTime" hidden)
              input(type="text" name="questionNumber" value="Q2" hidden)
              input(type="text" name="questionText" value="What?" hidden)
              br
              button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
            td 
              textarea(type="textarea" rows="3" cols="15" maxlength="40" id="what_stress" name="answerText" placeholder="What I will do.")
        form#multi_form1(action="/secureMainPeerTrainingModulesS9d/" + id method="post")
          tr 
            td How much?
              input(type="text" name="student_id" value=student_id hidden)
              input(type="text" name="answerDate" hidden)
              input(type="text" name="questionGroupModule" value="Peer Training" hidden)
              input(type="text" name="questionModule" value="9d" hidden)
              input(type="text" name="questionTitle" value="S9dQ3" hidden)
              input(type="text" name="answerTime" hidden)
              input(type="text" name="questionNumber" value="Q3" hidden)
              input(type="text" name="questionText" value="How much?" hidden)
              br
              button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
            td 
              textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="How much will I do")
        form#multi_form1(action="/secureMainPeerTrainingModulesS9d/" + id method="post")
          tr 
            td How often?
              input(type="text" name="student_id" value=student_id hidden)
              input(type="text" name="answerDate" hidden)
              input(type="text" name="questionGroupModule" value="Peer Training" hidden)
              input(type="text" name="questionModule" value="9d" hidden)
              input(type="text" name="questionTitle" value="S9dQ4" hidden)
              input(type="text" name="answerTime" hidden)
              input(type="text" name="questionNumber" value="Q4" hidden)
              input(type="text" name="questionText" value="How often?" hidden)
              br
              button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
            td 
              textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="How often I will do it")
        form#multi_form1(action="/secureMainPeerTrainingModulesS9d/" + id method="post")
          tr 
            td When?
              input(type="text" name="student_id" value=student_id hidden)
              input(type="text" name="answerDate" hidden)
              input(type="text" name="questionGroupModule" value="Peer Training" hidden)
              input(type="text" name="questionModule" value="9d" hidden)
              input(type="text" name="questionTitle" value="S9dQ5" hidden)
              input(type="text" name="answerTime" hidden)
              input(type="text" name="questionNumber" value="Q5" hidden)
              input(type="text" name="questionText" value="When?" hidden)
              br
              button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
            td 
              textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="When I will do it")
        form#multi_form1(action="/secureMainPeerTrainingModulesS9d/" + id method="post")
          tr 
            td Confidence level?
              input(type="text" name="student_id" value=student_id hidden)
              input(type="text" name="answerDate" hidden)
              input(type="text" name="questionGroupModule" value="Peer Training" hidden)
              input(type="text" name="questionModule" value="9d" hidden)
              input(type="text" name="questionTitle" value="S9dQ6" hidden)
              input(type="text" name="answerTime" hidden)
              input(type="text" name="questionNumber" value="Q6" hidden)
              input(type="text" name="questionText" value="When?" hidden)
              br
              button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
            td 
              textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="My confidence level")
    div.table
      table.table-active.table-dark.table-striped.table-bordered.table-hover.table-condensed
        form#multi_form1(action="/secureMainPeerTrainingModulesS9d/" + id method="post")
          tr 
            td Week2
              input(type="text" name="student_id" value=student_id hidden)
              input(type="text" name="answerDate" hidden)
              input(type="text" name="questionGroupModule" value="Peer Training" hidden)
              input(type="text" name="questionModule" value="9d" hidden)
              input(type="text" name="questionTitle" value="S9dQ7" hidden)
              input(type="text" name="answerTime" hidden)
              input(type="text" name="questionNumber" value="Q7" hidden)
              input(type="text" name="questionText" value="What?" hidden)
              br
              button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
            td 
              textarea(type="textarea" rows="3" cols="15" maxlength="40" id="what_stress" name="answerText" placeholder="Beginning date of week 1")
        form#multi_form1(action="/secureMainPeerTrainingModulesS9d/" + id method="post")
          tr 
            td What?
              input(type="text" name="student_id" value=student_id hidden)
              input(type="text" name="answerDate" hidden)
              input(type="text" name="questionGroupModule" value="Peer Training" hidden)
              input(type="text" name="questionModule" value="9d" hidden)
              input(type="text" name="questionTitle" value="S9dQ8" hidden)
              input(type="text" name="answerTime" hidden)
              input(type="text" name="questionNumber" value="Q8" hidden)
              input(type="text" name="questionText" value="What?" hidden)
              br
              button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
            td 
              textarea(type="textarea" rows="3" cols="15" maxlength="40" id="what_stress" name="answerText" placeholder="What I will do.")
        form#multi_form1(action="/secureMainPeerTrainingModulesS9d/" + id method="post")
          tr 
            td How much?
              input(type="text" name="student_id" value=student_id hidden)
              input(type="text" name="answerDate" hidden)
              input(type="text" name="questionGroupModule" value="Peer Training" hidden)
              input(type="text" name="questionModule" value="9d" hidden)
              input(type="text" name="questionTitle" value="S9dQ9" hidden)
              input(type="text" name="answerTime" hidden)
              input(type="text" name="questionNumber" value="Q9" hidden)
              input(type="text" name="questionText" value="How much?" hidden)
              br
              button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
            td 
              textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="How much will I do")
        form#multi_form1(action="/secureMainPeerTrainingModulesS9d/" + id method="post")
          tr 
            td How often?
              input(type="text" name="student_id" value=student_id hidden)
              input(type="text" name="answerDate" hidden)
              input(type="text" name="questionGroupModule" value="Peer Training" hidden)
              input(type="text" name="questionModule" value="9d" hidden)
              input(type="text" name="questionTitle" value="S9dQ10" hidden)
              input(type="text" name="answerTime" hidden)
              input(type="text" name="questionNumber" value="Q10" hidden)
              input(type="text" name="questionText" value="How often?" hidden)
              br
              button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
            td 
              textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="How often I will do it")
        form#multi_form1(action="/secureMainPeerTrainingModulesS9d/" + id method="post")
          tr 
            td When?
              input(type="text" name="student_id" value=student_id hidden)
              input(type="text" name="answerDate" hidden)
              input(type="text" name="questionGroupModule" value="Peer Training" hidden)
              input(type="text" name="questionModule" value="9d" hidden)
              input(type="text" name="questionTitle" value="S9dQ11" hidden)
              input(type="text" name="answerTime" hidden)
              input(type="text" name="questionNumber" value="Q11" hidden)
              input(type="text" name="questionText" value="When?" hidden)
              br
              button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
            td 
              textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="When I will do it")
        form#multi_form1(action="/secureMainPeerTrainingModulesS9d/" + id method="post")
          tr 
            td Confidence level?
              input(type="text" name="student_id" value=student_id hidden)
              input(type="text" name="answerDate" hidden)
              input(type="text" name="questionGroupModule" value="Peer Training" hidden)
              input(type="text" name="questionModule" value="9d" hidden)
              input(type="text" name="questionTitle" value="S9dQ12" hidden)
              input(type="text" name="answerTime" hidden)
              input(type="text" name="questionNumber" value="Q12" hidden)
              input(type="text" name="questionText" value="When?" hidden)
              br
              button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
            td 
              textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="My confidence level")
    div.table
      table.table-active.table-dark.table-striped.table-bordered.table-hover.table-condensed
        form#multi_form1(action="/secureMainPeerTrainingModulesS9d/" + id method="post")
          tr 
            td Week3
              input(type="text" name="student_id" value=student_id hidden)
              input(type="text" name="answerDate" hidden)
              input(type="text" name="questionGroupModule" value="Peer Training" hidden)
              input(type="text" name="questionModule" value="9d" hidden)
              input(type="text" name="questionTitle" value="S9dQ13" hidden)
              input(type="text" name="answerTime" hidden)
              input(type="text" name="questionNumber" value="Q13" hidden)
              input(type="text" name="questionText" value="What?" hidden)
              br
              button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
            td 
              textarea(type="textarea" rows="3" cols="15" maxlength="40" id="what_stress" name="answerText" placeholder="Beginning date of week 1")
        form#multi_form1(action="/secureMainPeerTrainingModulesS9d/" + id method="post")
          tr 
            td What?
              input(type="text" name="student_id" value=student_id hidden)
              input(type="text" name="answerDate" hidden)
              input(type="text" name="questionGroupModule" value="Peer Training" hidden)
              input(type="text" name="questionModule" value="9d" hidden)
              input(type="text" name="questionTitle" value="S9dQ14" hidden)
              input(type="text" name="answerTime" hidden)
              input(type="text" name="questionNumber" value="Q14" hidden)
              input(type="text" name="questionText" value="What?" hidden)
              br
              button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
            td 
              textarea(type="textarea" rows="3" cols="15" maxlength="40" id="what_stress" name="answerText" placeholder="What I will do.")
        form#multi_form1(action="/secureMainPeerTrainingModulesS9d/" + id method="post")
          tr 
            td How much?
              input(type="text" name="student_id" value=student_id hidden)
              input(type="text" name="answerDate" hidden)
              input(type="text" name="questionGroupModule" value="Peer Training" hidden)
              input(type="text" name="questionModule" value="9d" hidden)
              input(type="text" name="questionTitle" value="S9dQ15" hidden)
              input(type="text" name="answerTime" hidden)
              input(type="text" name="questionNumber" value="Q15" hidden)
              input(type="text" name="questionText" value="How much?" hidden)
              br
              button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
            td 
              textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="How much will I do")
        form#multi_form1(action="/secureMainPeerTrainingModulesS9d/" + id method="post")
          tr 
            td How often?
              input(type="text" name="student_id" value=student_id hidden)
              input(type="text" name="answerDate" hidden)
              input(type="text" name="questionGroupModule" value="Peer Training" hidden)
              input(type="text" name="questionModule" value="9d" hidden)
              input(type="text" name="questionTitle" value="S9dQ16" hidden)
              input(type="text" name="answerTime" hidden)
              input(type="text" name="questionNumber" value="Q16" hidden)
              input(type="text" name="questionText" value="How often?" hidden)
              br
              button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
            td 
              textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="How often I will do it")
        form#multi_form1(action="/secureMainPeerTrainingModulesS9d/" + id method="post")
          tr 
            td When?
              input(type="text" name="student_id" value=student_id hidden)
              input(type="text" name="answerDate" hidden)
              input(type="text" name="questionGroupModule" value="Peer Training" hidden)
              input(type="text" name="questionModule" value="9d" hidden)
              input(type="text" name="questionTitle" value="S9dQ17" hidden)
              input(type="text" name="answerTime" hidden)
              input(type="text" name="questionNumber" value="Q17" hidden)
              input(type="text" name="questionText" value="When?" hidden)
              br
              button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
            td 
              textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="When I will do it")
        form#multi_form1(action="/secureMainPeerTrainingModulesS9d/" + id method="post")
          tr 
            td Confidence level?
              input(type="text" name="student_id" value=student_id hidden)
              input(type="text" name="answerDate" hidden)
              input(type="text" name="questionGroupModule" value="Peer Training" hidden)
              input(type="text" name="questionModule" value="9d" hidden)
              input(type="text" name="questionTitle" value="S9dQ18" hidden)
              input(type="text" name="answerTime" hidden)
              input(type="text" name="questionNumber" value="Q18" hidden)
              input(type="text" name="questionText" value="When?" hidden)
              br
              button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
            td 
              textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="My confidence level")
    div.table
      table.table-active.table-dark.table-striped.table-bordered.table-hover.table-condensed
        form#multi_form1(action="/secureMainPeerTrainingModulesS9d/" + id method="post")
          tr 
            td Week4
              input(type="text" name="student_id" value=student_id hidden)
              input(type="text" name="answerDate" hidden)
              input(type="text" name="questionGroupModule" value="Peer Training" hidden)
              input(type="text" name="questionModule" value="9d" hidden)
              input(type="text" name="questionTitle" value="S9dQ19" hidden)
              input(type="text" name="answerTime" hidden)
              input(type="text" name="questionNumber" value="Q19" hidden)
              input(type="text" name="questionText" value="What?" hidden)
              br
              button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
            td 
              textarea(type="textarea" rows="3" cols="15" maxlength="40" id="what_stress" name="answerText" placeholder="Beginning date of week 1")
        form#multi_form1(action="/secureMainPeerTrainingModulesS9d/" + id method="post")
          tr 
            td What?
              input(type="text" name="student_id" value=student_id hidden)
              input(type="text" name="answerDate" hidden)
              input(type="text" name="questionGroupModule" value="Peer Training" hidden)
              input(type="text" name="questionModule" value="9d" hidden)
              input(type="text" name="questionTitle" value="S9dQ20" hidden)
              input(type="text" name="answerTime" hidden)
              input(type="text" name="questionNumber" value="Q20" hidden)
              input(type="text" name="questionText" value="What?" hidden)
              br
              button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
            td 
              textarea(type="textarea" rows="3" cols="15" maxlength="40" id="what_stress" name="answerText" placeholder="What I will do.")
        form#multi_form1(action="/secureMainPeerTrainingModulesS9d/" + id method="post")
          tr 
            td How much?
              input(type="text" name="student_id" value=student_id hidden)
              input(type="text" name="answerDate" hidden)
              input(type="text" name="questionGroupModule" value="Peer Training" hidden)
              input(type="text" name="questionModule" value="9d" hidden)
              input(type="text" name="questionTitle" value="S9dQ21" hidden)
              input(type="text" name="answerTime" hidden)
              input(type="text" name="questionNumber" value="Q21" hidden)
              input(type="text" name="questionText" value="How much?" hidden)
              br
              button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
            td 
              textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="How much will I do")
        form#multi_form1(action="/secureMainPeerTrainingModulesS9d/" + id method="post")
          tr 
            td How often?
              input(type="text" name="student_id" value=student_id hidden)
              input(type="text" name="answerDate" hidden)
              input(type="text" name="questionGroupModule" value="Peer Training" hidden)
              input(type="text" name="questionModule" value="9d" hidden)
              input(type="text" name="questionTitle" value="S9dQ22" hidden)
              input(type="text" name="answerTime" hidden)
              input(type="text" name="questionNumber" value="Q22" hidden)
              input(type="text" name="questionText" value="How often?" hidden)
              br
              button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
            td 
              textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="How often I will do it")
        form#multi_form1(action="/secureMainPeerTrainingModulesS9d/" + id method="post")
          tr 
            td When?
              input(type="text" name="student_id" value=student_id hidden)
              input(type="text" name="answerDate" hidden)
              input(type="text" name="questionGroupModule" value="Peer Training" hidden)
              input(type="text" name="questionModule" value="9d" hidden)
              input(type="text" name="questionTitle" value="S9dQ23" hidden)
              input(type="text" name="answerTime" hidden)
              input(type="text" name="questionNumber" value="Q23" hidden)
              input(type="text" name="questionText" value="When?" hidden)
              br
              button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
            td 
              textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="When I will do it")
        form#multi_form1(action="/secureMainPeerTrainingModulesS9d/" + id method="post")
          tr 
            td Confidence level?
              input(type="text" name="student_id" value=student_id hidden)
              input(type="text" name="answerDate" hidden)
              input(type="text" name="questionGroupModule" value="Peer Training" hidden)
              input(type="text" name="questionModule" value="9d" hidden)
              input(type="text" name="questionTitle" value="S9dQ124" hidden)
              input(type="text" name="answerTime" hidden)
              input(type="text" name="questionNumber" value="Q124" hidden)
              input(type="text" name="questionText" value="When?" hidden)
              br
              button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
            td 
              textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="My confidence level")