block append section
  link(rel="stylesheet" href="/assets/css/module_content.css") 
  section.container-2
    h2 TriAge Peer Training 
    h2 Keys to Success (S8aHRL)
    p Student Id: #{ student_id }
    br
    h3 Key 1
    br
    h3 Setting and Clarifying Your Whole Health Goal
    br
    p Complete Health Strengths:
    p (Put a check mark by those that you think are your strengths)
    strong 
      p Health and Resiliency Lifestyle
    form#multi_form1(action="/secureMainPeerTrainingModulesS8aHRL/" + id method="post")
      input(type="text" name="student_id" value=student_id hidden)
      input(type="text" name="answerDate" hidden)
      input(type="text" name="questionGroupModule" value="Peer Training" hidden)
      input(type="text" name="questionModule" value="8a" hidden)
      input(type="text" name="questionTitle" value="S8aHRL1" hidden)
      input(type="text" name="answerTime" hidden)
      input(type="text" name="questionNumber" value="Health_Resiliency1" hidden)
      input(type="text" name="questionText" value="I know what causes stress in my life." hidden)
      label(for="causes_stress") I know what causes stress in my life.
      br
      select(id="causes_stress" name="answerText")
        option(value="") --
        option(value="Yes") Yes
        option(value="No") No
      br
      
      input(type="text" name="student_id" value=student_id hidden)
      input(type="text" name="answerDate" hidden)
      input(type="text" name="questionGroupModule" value="Peer Training" hidden)
      input(type="text" name="questionModule" value="8a" hidden)
      input(type="text" name="questionTitle" value="S8aHRL2" hidden)
      input(type="text" name="answerTime" hidden)
      input(type="text" name="questionNumber" value="Health_Resiliency2" hidden)
      input(type="text" name="questionText" value="I know some things I could do to make my life less stressful." hidden)
      label(for="less_stressful") I know some things I could do to make my life less stressful.
      br
      select(id="less_stressful" name="answerText")
        option(value="") --
        option(value="Yes") Yes
        option(value="No") No
      br
      
      input(type="text" name="student_id" value=student_id hidden)
      input(type="text" name="answerDate" hidden)
      input(type="text" name="questionGroupModule" value="Peer Training" hidden)
      input(type="text" name="questionModule" value="8a" hidden)
      input(type="text" name="questionTitle" value="S8aHRL3" hidden)
      input(type="text" name="answerTime" hidden)
      input(type="text" name="questionNumber" value="Health_Resiliency3" hidden)
      input(type="text" name="questionText" value="I know what foods are healthy and unhealthy." hidden)
      label(for="what_foods") I know what foods are healthy and unhealthy.
      br
      select(id="what_foods" name="answerText")
        option(value="") --
        option(value="Yes") Yes
        option(value="No") No
      br
      
      input(type="text" name="student_id" value=student_id hidden)
      input(type="text" name="answerDate" hidden)
      input(type="text" name="questionGroupModule" value="Peer Training" hidden)
      input(type="text" name="questionModule" value="8a" hidden)
      input(type="text" name="questionTitle" value="S8aHRL4" hidden)
      input(type="text" name="answerTime" hidden)
      input(type="text" name="questionNumber" value="Health_Resiliency4" hidden)
      input(type="text" name="questionText" value="I know some healthy foods that I like and could add to my diet." hidden)
      label(for="healthy_foods") I know some healthy foods that I like and could add to my diet.
      br
      select(id="healthy_foods" name="answerText")
        option(value="") --
        option(value="Yes") Yes
        option(value="No") No
      br
      
      input(type="text" name="student_id" value=student_id hidden)
      input(type="text" name="answerDate" hidden)
      input(type="text" name="questionGroupModule" value="Peer Training" hidden)
      input(type="text" name="questionModule" value="8a" hidden)
      input(type="text" name="questionTitle" value="S8aHRL5" hidden)
      input(type="text" name="answerTime" hidden)
      input(type="text" name="questionNumber" value="Health_Resiliency5" hidden)
      input(type="text" name="questionText" value="I understand the value of physical exercise." hidden)
      label(for="physical_exercise") I understand the value of physical exercise.
      br
      select(id="physical_exercise" name="answerText")
        option(value="") --
        option(value="Yes") Yes
        option(value="No") No
      br
      
      input(type="text" name="student_id" value=student_id hidden)
      input(type="text" name="answerDate" hidden)
      input(type="text" name="questionGroupModule" value="Peer Training" hidden)
      input(type="text" name="questionModule" value="8a" hidden)
      input(type="text" name="questionTitle" value="S8aHRL6" hidden)
      input(type="text" name="answerTime" hidden)
      input(type="text" name="questionNumber" value="Health_Resiliency6" hidden)
      input(type="text" name="questionText" value="I know some physical activities that I enjoy and could add to my life." hidden)
      label(for="physical_activities") I know some physical activities that I enjoy and could add to my life.
      br
      select(id="physical_activities" name="answerText")
        option(value="") --
        option(value="Yes") Yes
        option(value="No") No
      br

      input(type="text" name="student_id" value=student_id hidden)
      input(type="text" name="answerDate" hidden)
      input(type="text" name="questionGroupModule" value="Peer Training" hidden)
      input(type="text" name="questionModule" value="8a" hidden)
      input(type="text" name="questionTitle" value="S8aHRL7" hidden)
      input(type="text" name="answerTime" hidden)
      input(type="text" name="questionNumber" value="Health_Resiliency7" hidden)
      input(type="text" name="questionText" value="I regularly get an adequate amount of sleep." hidden)
      label(for="amount_sleep") I regularly get an adequate amount of sleep.
      br
      select(id="amount_sleep" name="answerText")
        option(value="") --
        option(value="Yes") Yes
        option(value="No") No
      br

      input(type="text" name="student_id" value=student_id hidden)
      input(type="text" name="answerDate" hidden)
      input(type="text" name="questionGroupModule" value="Peer Training" hidden)
      input(type="text" name="questionModule" value="8a" hidden)
      input(type="text" name="questionTitle" value="S8aHRL8" hidden)
      input(type="text" name="answerTime" hidden)
      input(type="text" name="questionNumber" value="Health_Resiliency8" hidden)
      input(type="text" name="questionText" value="I know some things I could do to improve the quality of my sleep." hidden)
      label(for="quality_of_sleep") I know some things I could do to improve the quality of my sleep.
      br
      select(id="quality_of_sleep" name="answerText")
        option(value="") --
        option(value="Yes") Yes
        option(value="No") No
      br
      
      input(type="text" name="student_id" value=student_id hidden)
      input(type="text" name="answerDate" hidden)
      input(type="text" name="questionGroupModule" value="Peer Training" hidden)
      input(type="text" name="questionModule" value="8a" hidden)
      input(type="text" name="questionTitle" value="S8aHRL9" hidden)
      input(type="text" name="answerTime" hidden)
      input(type="text" name="questionNumber" value="Health_Resiliency9" hidden)
      input(type="text" name="questionText" value="I know that when I help others I feel better about myself." hidden)
      label(for="when_help_others") I know that when I help others I feel better about myself.
      br
      select(id="when_help_others" name="answerText")
        option(value="") --
        option(value="Yes") Yes
        option(value="No") No
      br

      input(type="text" name="student_id" value=student_id hidden)
      input(type="text" name="answerDate" hidden)
      input(type="text" name="questionGroupModule" value="Peer Training" hidden)
      input(type="text" name="questionModule" value="8a" hidden)
      input(type="text" name="questionTitle" value="S8aHRL10" hidden)
      input(type="text" name="answerTime" hidden)
      input(type="text" name="questionNumber" value="Health_Resiliency10" hidden)
      input(type="text" name="questionText" value="I know some things I could do to help others and that I would enjoy doing." hidden)
      label(for="things_help_others") I know some things I could do to help others and that I would enjoy doing.
      br
      select(id="things_help_others" name="answerText")
        option(value="") --
        option(value="Yes") Yes
        option(value="No") No
      br

      input(type="text" name="student_id" value=student_id hidden)
      input(type="text" name="answerDate" hidden)
      input(type="text" name="questionGroupModule" value="Peer Training" hidden)
      input(type="text" name="questionModule" value="8a" hidden)
      input(type="text" name="questionTitle" value="S8aHRL11" hidden)
      input(type="text" name="answerTime" hidden)
      input(type="text" name="questionNumber" value="Health_Resiliency11" hidden)
      input(type="text" name="questionText" value="I have people in my life who I enjoy being around." hidden)
      label(for="people_in_life") I have people in my life who I enjoy being around.
      br
      select(id="people_in_life" name="answerText")
        option(value="") --
        option(value="Yes") Yes
        option(value="No") No
      br

      input(type="text" name="student_id" value=student_id hidden)
      input(type="text" name="answerDate" hidden)
      input(type="text" name="questionGroupModule" value="Peer Training" hidden)
      input(type="text" name="questionModule" value="8a" hidden)
      input(type="text" name="questionTitle" value="S8aHRL12" hidden)
      input(type="text" name="answerTime" hidden)
      input(type="text" name="questionNumber" value="Health_Resiliency12" hidden)
      input(type="text" name="questionText" value="I know some things that I could do to increase my support network." hidden)
      label(for="increase_support_network") I know some things that I could do to increase my support network.
      br
      select(id="increase_support_network" name="answerText")
        option(value="") --
        option(value="Yes") Yes
        option(value="No") No
      br

      input(type="text" name="student_id" value=student_id hidden)
      input(type="text" name="answerDate" hidden)
      input(type="text" name="questionGroupModule" value="Peer Training" hidden)
      input(type="text" name="questionModule" value="8a" hidden)
      input(type="text" name="questionTitle" value="S8aHRL13" hidden)
      input(type="text" name="answerTime" hidden)
      input(type="text" name="questionNumber" value="Health_Resiliency13" hidden)
      input(type="text" name="questionText" value="I think of myself as an optimistic person in relation to the future." hidden)
      label(for="optimistic_person") I think of myself as an optimistic person in relation to the future.
      br
      select(id="optimistic_person" name="answerText")
        option(value="") --
        option(value="Yes") Yes
        option(value="No") No
      br

      input(type="text" name="student_id" value=student_id hidden)
      input(type="text" name="answerDate" hidden)
      input(type="text" name="questionGroupModule" value="Peer Training" hidden)
      input(type="text" name="questionModule" value="8a" hidden)
      input(type="text" name="questionTitle" value="S8aHRL14" hidden)
      input(type="text" name="answerTime" hidden)
      input(type="text" name="questionNumber" value="Health_Resiliency14" hidden)
      input(type="text" name="questionText" value="I know some things I could do to become more optimistic about the future." hidden)
      label(for="optimistic_future") I know some things I could do to become more optimistic about the future.
      br
      select(id="optimistic_future" name="answerText")
        option(value="") --
        option(value="Yes") Yes
        option(value="No") No
      br

      input(type="text" name="student_id" value=student_id hidden)
      input(type="text" name="answerDate" hidden)
      input(type="text" name="questionGroupModule" value="Peer Training" hidden)
      input(type="text" name="questionModule" value="8a" hidden)
      input(type="text" name="questionTitle" value="S8aHRL15" hidden)
      input(type="text" name="answerTime" hidden)
      input(type="text" name="questionNumber" value="Health_Resiliency15" hidden)
      input(type="text" name="questionText" value="I have some cognitive skills to help avoid negative thinking." hidden)
      label(for="negative_thinking") I have some cognitive skills to help avoid negative thinking.
      br
      select(id="negative_thinking" name="answerText")
        option(value="") --
        option(value="Yes") Yes
        option(value="No") No
      br

      input(type="text" name="student_id" value=student_id hidden)
      input(type="text" name="answerDate" hidden)
      input(type="text" name="questionGroupModule" value="Peer Training" hidden)
      input(type="text" name="questionModule" value="8a" hidden)
      input(type="text" name="questionTitle" value="S8aHRL16" hidden)
      input(type="text" name="answerTime" hidden)
      input(type="text" name="questionNumber" value="Health_Resiliency16" hidden)
      input(type="text" name="questionText" value="I know some things that I can do to improve my cognitive skills to avoid negative thinking." hidden)
      label(for="avoid_negative_thinking") I know some things that I can do to improve my cognitive skills to avoid negative thinking.
      br
      select(id="avoid_negative_thinking" name="answerText")
        option(value="") --
        option(value="Yes") Yes
        option(value="No") No
      br

      input(type="text" name="student_id" value=student_id hidden)
      input(type="text" name="answerDate" hidden)
      input(type="text" name="questionGroupModule" value="Peer Training" hidden)
      input(type="text" name="questionModule" value="8a" hidden)
      input(type="text" name="questionTitle" value="S8aHRL17" hidden)
      input(type="text" name="answerTime" hidden)
      input(type="text" name="questionNumber" value="Health_Resiliency17" hidden)
      input(type="text" name="questionText" value="I have spiritual beliefs and practices that sustain me during difficult times." hidden)
      label(for="spiritual_practices") I have spiritual beliefs and practices that sustain me during difficult times.
      br
      select(id="spiritual_practices" name="answerText")
        option(value="") --
        option(value="Yes") Yes
        option(value="No") No
      br

      input(type="text" name="student_id" value=student_id hidden)
      input(type="text" name="answerDate" hidden)
      input(type="text" name="questionGroupModule" value="Peer Training" hidden)
      input(type="text" name="questionModule" value="8a" hidden)
      input(type="text" name="questionTitle" value="S8aHRL18" hidden)
      input(type="text" name="answerTime" hidden)
      input(type="text" name="questionNumber" value="Health_Resiliency18" hidden)
      input(type="text" name="questionText" value="I know some things that I can do to strengthen my spiritual life." hidden)
      label(for="spiritual_life") I know some things that I can do to strengthen my spiritual life.
      br
      select(id="spiritual_life" name="answerText")
        option(value="") --
        option(value="Yes") Yes
        option(value="No") No
      br

      input(type="text" name="student_id" value=student_id hidden)
      input(type="text" name="answerDate" hidden)
      input(type="text" name="questionGroupModule" value="Peer Training" hidden)
      input(type="text" name="questionModule" value="8a" hidden)
      input(type="text" name="questionTitle" value="S8aHRL19" hidden)
      input(type="text" name="answerTime" hidden)
      input(type="text" name="questionNumber" value="Health_Resiliency19" hidden)
      input(type="text" name="questionText" value="I have a strong sense of meaning and purpose in my life." hidden)
      label(for="sense_of_purpose") I have a strong sense of meaning and purpose in my life.
      br
      select(id="sense_of_purpose" name="answerText")
        option(value="") --
        option(value="Yes") Yes
        option(value="No") No
      br

      input(type="text" name="student_id" value=student_id hidden)
      input(type="text" name="answerDate" hidden)
      input(type="text" name="questionGroupModule" value="Peer Training" hidden)
      input(type="text" name="questionModule" value="8a" hidden)
      input(type="text" name="questionTitle" value="S8aHRL20" hidden)
      input(type="text" name="answerTime" hidden)
      input(type="text" name="questionNumber" value="Health_Resiliency20" hidden)
      input(type="text" name="questionText" value="I know some things that I can do to increase my sense of meaning and purpose." hidden)
      label(for="increase_meaning") I know some things that I can do to increase my sense of meaning and purpose.
      br
      select(id="increase_meaning" name="answerText")
        option(value="") --
        option(value="Yes") Yes
        option(value="No") No
      br

      input(type="text" name="student_id" value=student_id hidden)
      input(type="text" name="answerDate" hidden)
      input(type="text" name="questionGroupModule" value="Peer Training" hidden)
      input(type="text" name="questionModule" value="8a" hidden)
      input(type="text" name="questionTitle" value="S8aHRL21" hidden)
      input(type="text" name="answerTime" hidden)
      input(type="text" name="questionNumber" value="Health_Resiliency21" hidden)
      input(type="text" name="questionText" value="I know some things I could do to improve my health and resiliency." hidden)
      label(for="health_resiliency") I know some things I could do to improve my health and resiliency.
      br
      select(id="health_resiliency" name="answerText")
        option(value="") --
        option(value="Yes") Yes
        option(value="No") No
      br

      input(type="text" name="student_id" value=student_id hidden)
      input(type="text" name="answerDate" hidden)
      input(type="text" name="questionGroupModule" value="Peer Training" hidden)
      input(type="text" name="questionModule" value="8a" hidden)
      input(type="text" name="questionTitle" value="S8aHRL22" hidden)
      input(type="text" name="answerTime" hidden)
      input(type="text" name="questionNumber" value="Health_Resiliency22" hidden)
      input(type="text" name="questionText" value="I am ready to work on improving my health and resiliency." hidden)
      label(for="improve_resiliency") I am ready to work on improving my health and resiliency.
      br
      select(id="improve_resiliency" name="answerText")
        option(value="") --
        option(value="Yes") Yes
        option(value="No") No
        
      br
      br
      button.btn.btn-primary.btn-lg.btn-module(form="q" type="submit") Submit

    br