block append section 
  link(rel="stylesheet" href="/assets/css/pages.css")
  link(rel="stylesheet" href="/assets/css/module_content.css")
  section.container-2
    h2 #{ textTitle } (#{ textNumber })
    h2 #{ questionTitle } (#{ textNumber } #{ questionNumber }) 
    //- h2 TriAge Challenge Education (S2aQ1)
    h3 #{ textSubTitle } #{ questionSubTitle }
    //- h3 Science of Stress
    if student_id
      p Student Id: #{ student_id } 
      p Member Id: #{ id }
      p Text Id: #{ text_id }
      p Text Title: #{ textTitle } #{ textNumber}
      p Text Sub Title: #{ textSubTitle }
    br
    if textContent
      p Text Content: #{ textContent }

    h4 #{ questionNumber }
    h4 #{ questionSubTitle }
    //- h4 Question 1 of 1
      //- span#timerDisplay Time remaining: #{ timer }
    br
    if questionText
      p#question #{ questionText }
      br
      p#answer Answer below:
      form(action="/secureMainChallengeModulesS2aq1/" + id method="post")
        input(type="text" name="student_id" value=student_id hidden)
        input(type="text" name="answerDate" hidden)
        input(type="text" name="questionGroupModule" value=questionGroupModule hidden)
        input(type="text" name="questionModule" value=questionModule hidden)
        input(type="text" name="questionTitle" value=questionTitle hidden)
        input(type="text" name="answerTime" hidden)
        input(type="text" name="questionNumber" value=questionNumber hidden)
        label(for="questionText") 
        input(type="text" name="questionText" id="questionText" value=questionText hidden)
        input.answerArea(type="textarea" name="answerText" placeholder=answerHeader)
        br
        button.btn.btn-primary.btn-lg.btn-module(type="submit") Submit
      br

  div(style="text-align:center")
    span 
      a.dot(href=`/triage-main-challenge-modules-viewer/${id}/0`)
    span 
      a.dot(href=href=`/triage-main-challenge-modules-viewer/${id}/1`)
    span 
      a.dot(href=href=`/triage-main-challenge-modules-viewer/${id}/2`)
    //- span 
    //-   a.dot(href=href=`/triage-main-challenge-modules-viewer/${id}/3`)
    br
    br
    br

    span.dot(onclick="currentPage(0)") 
    span.dot(onclick="currentPage(1)") 
    span.dot(onclick="currentPage(2)") 
    span.dot(onclick="currentPage(3)") 
    span.dot(onclick="currentPage(4)") 
    span.dot(onclick="currentPage(5)") 
    span.dot(onclick="currentPage(6)") 
    span.dot(onclick="currentPage(7)") 
    span.dot(onclick="currentPage(8)") 
    span.dot(onclick="currentPage(9)") 
    span.dot(onclick="currentPage(10)") 

  //- div.slideshow-container
  //-   div.myPages
  //-     div
  //-       iframe(src="/triage-main-challenge-modules-s1/" + id)
  //-   div.myPages
  //-     div
  //-       iframe(src="/triage-main-challenge-modules-s2a/" + id)
  //-   div.myPages
  //-     div
  //-       iframe(src="/triage-main-challenge-modules-s2aq1/" + id)

  //-   a.prev.moduleArrow(onclick="plusPages(-1)") &#10094
  //-   a.next.moduleArrow(onclick="plusPages(1)") &#10095

  //- br
  //- div(style="text-align:center")
  //-   span.dot(onclick="currentPage(1)") 
  //-   span.dot(onclick="currentPage(2)") 
  //-   span.dot(onclick="currentPage(3)") 
  //-   span.dot(onclick="currentPage(4)") 
  //-   span.dot(onclick="currentPage(5)") 
  //-   span.dot(onclick="currentPage(6)") 
  //-   span.dot(onclick="currentPage(7)") 
  //-   span.dot(onclick="currentPage(8)") 
  //-   span.dot(onclick="currentPage(9)") 
  //-   span.dot(onclick="currentPage(10)")  
  //- br

  //- div(style="text-align:center")
  //-   span.dot(onclick="currentPage(11)") 
  //-   span.dot(onclick="currentPage(12)") 
  //-   span.dot(onclick="currentPage(13)") 
  //-   span.dot(onclick="currentPage(14)") 
  //-   span.dot(onclick="currentPage(15)") 
  //-   span.dot(onclick="currentPage(16)") 
  //-   span.dot(onclick="currentPage(17)") 
  //-   span.dot(onclick="currentPage(18)") 
  //-   span.dot(onclick="currentPage(19)") 
  //-   span.dot(onclick="currentPage(20)")  
  //- br

  //- div(style="text-align:center")
  //-   span.dot(onclick="currentPage(21)") 
  //-   span.dot(onclick="currentPage(22)") 
  //-   span.dot(onclick="currentPage(23)") 
  //-   span.dot(onclick="currentPage(24)") 
  //-   span.dot(onclick="currentPage(25)") 
  //-   span.dot(onclick="currentPage(26)") 
  //-   span.dot(onclick="currentPage(27)") 
  //-   span.dot(onclick="currentPage(28)") 
  //-   span.dot(onclick="currentPage(29)") 
  //-   span.dot(onclick="currentPage(30)")  
  //- br

  //- div(style="text-align:center")
  //-   span.dot(onclick="currentPage(31)") 
  //-   span.dot(onclick="currentPage(32)") 
  //-   span.dot(onclick="currentPage(33)") 
  //-   span.dot(onclick="currentPage(34)") 
  //-   span.dot(onclick="currentPage(35)") 
  //-   span.dot(onclick="currentPage(36)") 
  //-   span.dot(onclick="currentPage(37)") 
  //-   span.dot(onclick="currentPage(38)") 
  //-   span.dot(onclick="currentPage(39)") 
  //-   span.dot(onclick="currentPage(40)")  
  //- br

  //- div(style="text-align:center")
  //-   span.dot(onclick="currentPage(41)") 
  //-   span.dot(onclick="currentPage(42)") 
  //-   span.dot(onclick="currentPage(43)") 
  //-   span.dot(onclick="currentPage(44)") 
  //-   span.dot(onclick="currentPage(45)") 
  //-   span.dot(onclick="currentPage(46)") 
  //-   span.dot(onclick="currentPage(47)") 
  //-   span.dot(onclick="currentPage(48)") 
  //-   span.dot(onclick="currentPage(49)") 
  //-   span.dot(onclick="currentPage(50)")  
  //- br

  //- div(style="text-align:center")
  //-   span.dot(onclick="currentPage(51)") 
  //-   span.dot(onclick="currentPage(52)") 
  //-   span.dot(onclick="currentPage(53)") 
  //-   span.dot(onclick="currentPage(54)") 
  //-   span.dot(onclick="currentPage(55)") 
  //-   span.dot(onclick="currentPage(56)") 
  //-   span.dot(onclick="currentPage(57)") 
  //-   span.dot(onclick="currentPage(58)") 
  //-   span.dot(onclick="currentPage(59)") 
  //-   span.dot(onclick="currentPage(60)")  
  //- br

  //- div(style="text-align:center")
  //-   span.dot(onclick="currentPage(61)") 
  //-   span.dot(onclick="currentPage(62)") 
  //-   span.dot(onclick="currentPage(63)") 
  //-   span.dot(onclick="currentPage(64)") 
  //-   span.dot(onclick="currentPage(65)") 
  //-   span.dot(onclick="currentPage(66)") 
  //-   span.dot(onclick="currentPage(67)")
  //-   span.dot(onclick="currentPage(68)")
  //-   span.dot(onclick="currentPage(69)")

  
  //- script(src="/assets/javascript/pages.js")