block append section
  link(rel="stylesheet" href="/assets/css/module_content.css") 
  section.container-2
    h2 TriAge Peer Training 
    h2 Keys to Success (S9b)
    p Student Id: #{ student_id }
    br
    h3 Key 2
    h3 Weekly Action Plan
    h3 Practice
    br
    h3 Using the whole health goal that you just created, you will now practice creating a weekly action plan.
    br
    p This action plan needs to answer the following questions:
      ol 
        li What will you do?
        li How much will you do?
        li How often will you do it?
        li When will you do it?
      br
      div.table
        table.table-active.table-dark.table-striped.table-bordered.table-hover.table-condensed
          thead 
            tr 
            th Stress Management:
            th (Examples in form fields)
            form#multi_form1(action="/secureMainPeerTrainingModulesS9b/" + id method="post")
              tr 
                td 1) What will you do?
                  input(type="text" name="student_id" value=student_id hidden)
                  input(type="text" name="answerDate" hidden)
                  input(type="text" name="questionGroupModule" value="Peer Training" hidden)
                  input(type="text" name="questionModule" value="9b" hidden)
                  input(type="text" name="questionTitle" value="S9bQ1" hidden)
                  input(type="text" name="answerTime" hidden)
                  input(type="text" name="questionNumber" value="Q1" hidden)
                  input(type="text" name="questionText" value="Stress Management: 1) What will you do?" hidden)
                  //- br
                  //- button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
                td 
                  textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="I will practice the Relaxation Response")
              //- form#multi_form1(action="/secureMainPeerTrainingModulesS9b/" + id method="post")
              tr 
                td 2) How much will you do?
                  input(type="text" name="student_id" value=student_id hidden)
                  input(type="text" name="answerDate" hidden)
                  input(type="text" name="questionGroupModule" value="Peer Training" hidden)
                  input(type="text" name="questionModule" value="9b" hidden)
                  input(type="text" name="questionTitle" value="S9bQ2" hidden)
                  input(type="text" name="answerTime" hidden)
                  input(type="text" name="questionNumber" value="Q2" hidden)
                  input(type="text" name="questionText" value="Stress Management: 2) How much will you do?" hidden)
                  //- br
                  //- button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
                td 
                  textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="10 minutes")
              //- form#multi_form1(action="/secureMainPeerTrainingModulesS9b/" + id method="post")
              tr 
                td 3) How often will you do it?
                  input(type="text" name="student_id" value=student_id hidden)
                  input(type="text" name="answerDate" hidden)
                  input(type="text" name="questionGroupModule" value="Peer Training" hidden)
                  input(type="text" name="questionModule" value="9b" hidden)
                  input(type="text" name="questionTitle" value="S9bQ3" hidden)
                  input(type="text" name="answerTime" hidden)
                  input(type="text" name="questionNumber" value="Q3" hidden)
                  input(type="text" name="questionText" value="Stress Management: 3) How often will you do it?" hidden)
                  //- br
                  //- button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
                td 
                  textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="Four days this week")
              //- form#multi_form1(action="/secureMainPeerTrainingModulesS9b/" + id method="post")
              tr 
                td 4) When will you do it?
                  input(type="text" name="student_id" value=student_id hidden)
                  input(type="text" name="answerDate" hidden)
                  input(type="text" name="questionGroupModule" value="Peer Training" hidden)
                  input(type="text" name="questionModule" value="9b" hidden)
                  input(type="text" name="questionTitle" value="S9bQ4" hidden)
                  input(type="text" name="answerTime" hidden)
                  input(type="text" name="questionNumber" value="Q4" hidden)
                  input(type="text" name="questionText" value="Stress Management: 4) When will you do it?" hidden)
                  //- br
                  //- button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
                td 
                  textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="Before I go to work")
            tr 
            th Healthy Eating:
            th 
              //- form#multi_form1(action="/secureMainPeerTrainingModulesS9b/" + id method="post")
              tr 
                td 1) What will you do?
                  input(type="text" name="student_id" value=student_id hidden)
                  input(type="text" name="answerDate" hidden)
                  input(type="text" name="questionGroupModule" value="Peer Training" hidden)
                  input(type="text" name="questionModule" value="9b" hidden)
                  input(type="text" name="questionTitle" value="S9bQ5" hidden)
                  input(type="text" name="answerTime" hidden)
                  input(type="text" name="questionNumber" value="Q5" hidden)
                  input(type="text" name="questionText" value="Healthy Eating: 1) What will you do?" hidden)
                  //- br
                  //- button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
                td 
                  textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="I will eat fruits and vegetables")
              //- form#multi_form1(action="/secureMainPeerTrainingModulesS9b/" + id method="post")
              tr 
                td 2) How much will you do?
                  input(type="text" name="student_id" value=student_id hidden)
                  input(type="text" name="answerDate" hidden)
                  input(type="text" name="questionGroupModule" value="Peer Training" hidden)
                  input(type="text" name="questionModule" value="9b" hidden)
                  input(type="text" name="questionTitle" value="S9bQ6" hidden)
                  input(type="text" name="answerTime" hidden)
                  input(type="text" name="questionNumber" value="Q6" hidden)
                  input(type="text" name="questionText" value="Healthy Eating: 2) How much will you do?" hidden)
                  //- br
                  //- button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
                td 
                  textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="Three servings of fruits and/or vegetables")
              //- form#multi_form1(action="/secureMainPeerTrainingModulesS9b/" + id method="post")
              tr 
                td 3) How often will you do it?
                  input(type="text" name="student_id" value=student_id hidden)
                  input(type="text" name="answerDate" hidden)
                  input(type="text" name="questionGroupModule" value="Peer Training" hidden)
                  input(type="text" name="questionModule" value="9b" hidden)
                  input(type="text" name="questionTitle" value="S9bQ7" hidden)
                  input(type="text" name="answerTime" hidden)
                  input(type="text" name="questionNumber" value="Q7" hidden)
                  input(type="text" name="questionText" value="Healthy Eating: 3) How often will you do it?" hidden)
                  //- br
                  //- button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
                td 
                  textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="Three different days this week")
              //- form#multi_form1(action="/secureMainPeerTrainingModulesS9b/" + id method="post")
              tr 
                td 4) When will you do it?
                  input(type="text" name="student_id" value=student_id hidden)
                  input(type="text" name="answerDate" hidden)
                  input(type="text" name="questionGroupModule" value="Peer Training" hidden)
                  input(type="text" name="questionModule" value="9b" hidden)
                  input(type="text" name="questionTitle" value="S9bQ8" hidden)
                  input(type="text" name="answerTime" hidden)
                  input(type="text" name="questionNumber" value="Q8" hidden)
                  input(type="text" name="questionText" value="Healthy Eating: 4) When will you do it?" hidden)
                  //- br
                  //- button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
                td 
                  textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="At lunch and/or dinner")
            tr 
            th Physical Activity:
            th 
              //- form#multi_form1(action="/secureMainPeerTrainingModulesS9b/" + id method="post")
              tr 
                td 1) What will you do?
                  input(type="text" name="student_id" value=student_id hidden)
                  input(type="text" name="answerDate" hidden)
                  input(type="text" name="questionGroupModule" value="Peer Training" hidden)
                  input(type="text" name="questionModule" value="9b" hidden)
                  input(type="text" name="questionTitle" value="S9bQ9" hidden)
                  input(type="text" name="answerTime" hidden)
                  input(type="text" name="questionNumber" value="Q9" hidden)
                  input(type="text" name="questionText" value="Physical Activity: 1) What will you do?" hidden)
                  //- br
                  //- button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
                td 
                  textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="I will walk")
              //- form#multi_form1(action="/secureMainPeerTrainingModulesS9b/" + id method="post")
              tr 
                td 2) How much will you do?
                  input(type="text" name="student_id" value=student_id hidden)
                  input(type="text" name="answerDate" hidden)
                  input(type="text" name="questionGroupModule" value="Peer Training" hidden)
                  input(type="text" name="questionModule" value="9b" hidden)
                  input(type="text" name="questionTitle" value="S9bQ10" hidden)
                  input(type="text" name="answerTime" hidden)
                  input(type="text" name="questionNumber" value="Q10" hidden)
                  input(type="text" name="questionText" value="Physical Activity: 2) How much will you do?" hidden)
                  //- br
                  //- button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
                td 
                  textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="One-half mile")
              //- form#multi_form1(action="/secureMainPeerTrainingModulesS9b/" + id method="post")
              tr 
                td 3) How often will you do it?
                  input(type="text" name="student_id" value=student_id hidden)
                  input(type="text" name="answerDate" hidden)
                  input(type="text" name="questionGroupModule" value="Peer Training" hidden)
                  input(type="text" name="questionModule" value="9b" hidden)
                  input(type="text" name="questionTitle" value="S9bQ11" hidden)
                  input(type="text" name="answerTime" hidden)
                  input(type="text" name="questionNumber" value="Q11" hidden)
                  input(type="text" name="questionText" value="Physical Activity: 3) How often will you do it?" hidden)
                  //- br
                  //- button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
                td 
                  textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="Three times this week")
              //- form#multi_form1(action="/secureMainPeerTrainingModulesS9b/" + id method="post")
              tr 
                td 4) When will you do it?
                  input(type="text" name="student_id" value=student_id hidden)
                  input(type="text" name="answerDate" hidden)
                  input(type="text" name="questionGroupModule" value="Peer Training" hidden)
                  input(type="text" name="questionModule" value="9b" hidden)
                  input(type="text" name="questionTitle" value="S9bQ12" hidden)
                  input(type="text" name="answerTime" hidden)
                  input(type="text" name="questionNumber" value="Q12" hidden)
                  input(type="text" name="questionText" value="Physical Activity: 4) When will you do it?" hidden)
                  //- br
                  //- button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
                td 
                  textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="At 10:00 PM")
            tr 
            th Service to Others:
            th 
              //- form#multi_form1(action="/secureMainPeerTrainingModulesS9b/" + id method="post")
              tr 
                td 1) What will you do?
                  input(type="text" name="student_id" value=student_id hidden)
                  input(type="text" name="answerDate" hidden)
                  input(type="text" name="questionGroupModule" value="Peer Training" hidden)
                  input(type="text" name="questionModule" value="9b" hidden)
                  input(type="text" name="questionTitle" value="S9bQ13" hidden)
                  input(type="text" name="answerTime" hidden)
                  input(type="text" name="questionNumber" value="Q13" hidden)
                  input(type="text" name="questionText" value="Service to Others: 1) What will you do?" hidden)
                  //- br
                  //- button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
                td 
                  textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="Volunteer tutoring")
              //- form#multi_form1(action="/secureMainPeerTrainingModulesS9b/" + id method="post")
              tr 
                td 2) How much will you do?
                  input(type="text" name="student_id" value=student_id hidden)
                  input(type="text" name="answerDate" hidden)
                  input(type="text" name="questionGroupModule" value="Peer Training" hidden)
                  input(type="text" name="questionModule" value="9b" hidden)
                  input(type="text" name="questionTitle" value="S9bQ14" hidden)
                  input(type="text" name="answerTime" hidden)
                  input(type="text" name="questionNumber" value="Q14" hidden)
                  input(type="text" name="questionText" value="Service to Others: 2) How much will you do?" hidden)
                  //- br
                  //- button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
                td 
                  textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="One Hour")
              //- form#multi_form1(action="/secureMainPeerTrainingModulesS9b/" + id method="post")
              tr 
                td 3) How often will you do it?
                  input(type="text" name="student_id" value=student_id hidden)
                  input(type="text" name="answerDate" hidden)
                  input(type="text" name="questionGroupModule" value="Peer Training" hidden)
                  input(type="text" name="questionModule" value="9b" hidden)
                  input(type="text" name="questionTitle" value="S9bQ15" hidden)
                  input(type="text" name="answerTime" hidden)
                  input(type="text" name="questionNumber" value="Q15" hidden)
                  input(type="text" name="questionText" value="Service to Others: 3) How often will you do it?" hidden)
                  //- br
                  //- button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
                td 
                  textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="Twice this week")
              //- form#multi_form1(action="/secureMainPeerTrainingModulesS9b/" + id method="post")
              tr 
                td 4) When will you do it?
                  input(type="text" name="student_id" value=student_id hidden)
                  input(type="text" name="answerDate" hidden)
                  input(type="text" name="questionGroupModule" value="Peer Training" hidden)
                  input(type="text" name="questionModule" value="9b" hidden)
                  input(type="text" name="questionTitle" value="S9bQ16" hidden)
                  input(type="text" name="answerTime" hidden)
                  input(type="text" name="questionNumber" value="Q16" hidden)
                  input(type="text" name="questionText" value="Service to Others: 4) When will you do it?" hidden)
                  //- br
                  //- button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
                td 
                  textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="After school")
            tr 
            th Support Network:
            th 
              //- form#multi_form1(action="/secureMainPeerTrainingModulesS9b/" + id method="post")
              tr 
                td 1) What will you do?
                  input(type="text" name="student_id" value=student_id hidden)
                  input(type="text" name="answerDate" hidden)
                  input(type="text" name="questionGroupModule" value="Peer Training" hidden)
                  input(type="text" name="questionModule" value="9b" hidden)
                  input(type="text" name="questionTitle" value="S9bQ17" hidden)
                  input(type="text" name="answerTime" hidden)
                  input(type="text" name="questionNumber" value="Q17" hidden)
                  input(type="text" name="questionText" value="Support Network: 1) What will you do?" hidden)
                  //- br
                  //- button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
                td 
                  textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="Attend a support group")
              //- form#multi_form1(action="/secureMainPeerTrainingModulesS9b/" + id method="post")
              tr 
                td 2) How much will you do?
                  input(type="text" name="student_id" value=student_id hidden)
                  input(type="text" name="answerDate" hidden)
                  input(type="text" name="questionGroupModule" value="Peer Training" hidden)
                  input(type="text" name="questionModule" value="9b" hidden)
                  input(type="text" name="questionTitle" value="S9bQ18" hidden)
                  input(type="text" name="answerTime" hidden)
                  input(type="text" name="questionNumber" value="Q18" hidden)
                  input(type="text" name="questionText" value="Support Network: 2) How much will you do?" hidden)
                  //- br
                  //- button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
                td 
                  textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="For one hour")
              //- form#multi_form1(action="/secureMainPeerTrainingModulesS9b/" + id method="post")
              tr 
                td 3) How often will you do it?
                  input(type="text" name="student_id" value=student_id hidden)
                  input(type="text" name="answerDate" hidden)
                  input(type="text" name="questionGroupModule" value="Peer Training" hidden)
                  input(type="text" name="questionModule" value="9b" hidden)
                  input(type="text" name="questionTitle" value="S9bQ19" hidden)
                  input(type="text" name="answerTime" hidden)
                  input(type="text" name="questionNumber" value="Q19" hidden)
                  input(type="text" name="questionText" value="Support Network: 3) How often will you do it?" hidden)
                  //- br
                  //- button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
                td 
                  textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="Once a week")
              //- form#multi_form1(action="/secureMainPeerTrainingModulesS9b/" + id method="post")
              tr 
                td 4) When will you do it?
                  input(type="text" name="student_id" value=student_id hidden)
                  input(type="text" name="answerDate" hidden)
                  input(type="text" name="questionGroupModule" value="Peer Training" hidden)
                  input(type="text" name="questionModule" value="9b" hidden)
                  input(type="text" name="questionTitle" value="S9bQ20" hidden)
                  input(type="text" name="answerTime" hidden)
                  input(type="text" name="questionNumber" value="Q20" hidden)
                  input(type="text" name="questionText" value="Support Network: 4) When will you do it?" hidden)
                  //- br
                  //- button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
                td 
                  textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="In the evening")
            tr 
            th Optimism Based on Positive Expectations:
            th 
              //- form#multi_form1(action="/secureMainPeerTrainingModulesS9b/" + id method="post")
              tr 
                td 1) What will you do?
                  input(type="text" name="student_id" value=student_id hidden)
                  input(type="text" name="answerDate" hidden)
                  input(type="text" name="questionGroupModule" value="Peer Training" hidden)
                  input(type="text" name="questionModule" value="9b" hidden)
                  input(type="text" name="questionTitle" value="S9bQ21" hidden)
                  input(type="text" name="answerTime" hidden)
                  input(type="text" name="questionNumber" value="Q21" hidden)
                  input(type="text" name="questionText" value="Optimism Based on Positive Expectations: 1) What will you do?" hidden)
                  //- br
                  //- button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
                td 
                  textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="Positive affirmations")
              //- form#multi_form1(action="/secureMainPeerTrainingModulesS9b/" + id method="post")
              tr 
                td 2) How much will you do?
                  input(type="text" name="student_id" value=student_id hidden)
                  input(type="text" name="answerDate" hidden)
                  input(type="text" name="questionGroupModule" value="Peer Training" hidden)
                  input(type="text" name="questionModule" value="9b" hidden)
                  input(type="text" name="questionTitle" value="S9bQ22" hidden)
                  input(type="text" name="answerTime" hidden)
                  input(type="text" name="questionNumber" value="Q22" hidden)
                  input(type="text" name="questionText" value="Optimism Based on Positive Expectations: 2) How much will you do?" hidden)
                  //- br
                  //- button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
                td 
                  textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="One affirmation, repeated three times")
              //- form#multi_form1(action="/secureMainPeerTrainingModulesS9b/" + id method="post")
              tr 
                td 3) How often will you do it?
                  input(type="text" name="student_id" value=student_id hidden)
                  input(type="text" name="answerDate" hidden)
                  input(type="text" name="questionGroupModule" value="Peer Training" hidden)
                  input(type="text" name="questionModule" value="9b" hidden)
                  input(type="text" name="questionTitle" value="S9bQ23" hidden)
                  input(type="text" name="answerTime" hidden)
                  input(type="text" name="questionNumber" value="Q23" hidden)
                  input(type="text" name="questionText" value="Optimism Based on Positive Expectations: 3) How often will you do it?" hidden)
                  //- br
                  //- button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
                td 
                  textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="Three days a week")
              //- form#multi_form1(action="/secureMainPeerTrainingModulesS9b/" + id method="post")
              tr 
                td 4) When will you do it?
                  input(type="text" name="student_id" value=student_id hidden)
                  input(type="text" name="answerDate" hidden)
                  input(type="text" name="questionGroupModule" value="Peer Training" hidden)
                  input(type="text" name="questionModule" value="9b" hidden)
                  input(type="text" name="questionTitle" value="S9bQ24" hidden)
                  input(type="text" name="answerTime" hidden)
                  input(type="text" name="questionNumber" value="Q24" hidden)
                  input(type="text" name="questionText" value="Optimism Based on Positive Expectations: 4) When will you do it?" hidden)
                  //- br
                  //- button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
                td 
                  textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="Early in the morning, before I begin the day")
            tr 
            th Cognitive Skills to Avoid Negative Thinking:
            th 
              //- form#multi_form1(action="/secureMainPeerTrainingModulesS9b/" + id method="post")
              tr 
                td 1) What will you do?
                  input(type="text" name="student_id" value=student_id hidden)
                  input(type="text" name="answerDate" hidden)
                  input(type="text" name="questionGroupModule" value="Peer Training" hidden)
                  input(type="text" name="questionModule" value="9b" hidden)
                  input(type="text" name="questionTitle" value="S9bQ25" hidden)
                  input(type="text" name="answerTime" hidden)
                  input(type="text" name="questionNumber" value="Q25" hidden)
                  input(type="text" name="questionText" value="Cognitive Skills to Avoid Negative Thinking: 1) What will you do?" hidden)
                  //- br
                  //- button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
                td 
                  textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="Note my negative words")
              //- form#multi_form1(action="/secureMainPeerTrainingModulesS9b/" + id method="post")
              tr 
                td 2) How much will you do?
                  input(type="text" name="student_id" value=student_id hidden)
                  input(type="text" name="answerDate" hidden)
                  input(type="text" name="questionGroupModule" value="Peer Training" hidden)
                  input(type="text" name="questionModule" value="9b" hidden)
                  input(type="text" name="questionTitle" value="S9bQ26" hidden)
                  input(type="text" name="answerTime" hidden)
                  input(type="text" name="questionNumber" value="Q26" hidden)
                  input(type="text" name="questionText" value="Cognitive Skills to Avoid Negative Thinking: 2) How much will you do?" hidden)
                  //- br
                  //- button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
                td 
                  textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="As much as possible")
              //- form#multi_form1(action="/secureMainPeerTrainingModulesS9b/" + id method="post")
              tr 
                td 3) How often will you do it?
                  input(type="text" name="student_id" value=student_id hidden)
                  input(type="text" name="answerDate" hidden)
                  input(type="text" name="questionGroupModule" value="Peer Training" hidden)
                  input(type="text" name="questionModule" value="9b" hidden)
                  input(type="text" name="questionTitle" value="S9bQ27" hidden)
                  input(type="text" name="answerTime" hidden)
                  input(type="text" name="questionNumber" value="Q27" hidden)
                  input(type="text" name="questionText" value="Cognitive Skills to Avoid Negative Thinking: 3) How often will you do it?" hidden)
                  //- br
                  //- button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
                td 
                  textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="As often as possible")
              //- form#multi_form1(action="/secureMainPeerTrainingModulesS9b/" + id method="post")
              tr 
                td 4) When will you do it?
                  input(type="text" name="student_id" value=student_id hidden)
                  input(type="text" name="answerDate" hidden)
                  input(type="text" name="questionGroupModule" value="Peer Training" hidden)
                  input(type="text" name="questionModule" value="9b" hidden)
                  input(type="text" name="questionTitle" value="S9bQ28" hidden)
                  input(type="text" name="answerTime" hidden)
                  input(type="text" name="questionNumber" value="Q28" hidden)
                  input(type="text" name="questionText" value="Cognitive Skills to Avoid Negative Thinking: 4) When will you do it?" hidden)
                  //- br
                  //- button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
                td 
                  textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="When I catch myself")
            tr 
            th Spiritual Beliefs and Practices:
            th 
              //- form#multi_form1(action="/secureMainPeerTrainingModulesS9b/" + id method="post")
              tr 
                td 1) What will you do?
                  input(type="text" name="student_id" value=student_id hidden)
                  input(type="text" name="answerDate" hidden)
                  input(type="text" name="questionGroupModule" value="Peer Training" hidden)
                  input(type="text" name="questionModule" value="9b" hidden)
                  input(type="text" name="questionTitle" value="S9bQ29" hidden)
                  input(type="text" name="answerTime" hidden)
                  input(type="text" name="questionNumber" value="Q29" hidden)
                  input(type="text" name="questionText" value="Spiritual Beliefs and Practices: 1) What will you do?" hidden)
                  //- br
                  //- button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
                td 
                  textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="Morning devotion")
              //- form#multi_form1(action="/secureMainPeerTrainingModulesS9b/" + id method="post")
              tr 
                td 2) How much will you do?
                  input(type="text" name="student_id" value=student_id hidden)
                  input(type="text" name="answerDate" hidden)
                  input(type="text" name="questionGroupModule" value="Peer Training" hidden)
                  input(type="text" name="questionModule" value="9b" hidden)
                  input(type="text" name="questionTitle" value="S9bQ30" hidden)
                  input(type="text" name="answerTime" hidden)
                  input(type="text" name="questionNumber" value="Q30" hidden)
                  input(type="text" name="questionText" value="Spiritual Beliefs and Practices: 2) How much will you do?" hidden)
                  //- br
                  //- button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
                td 
                  textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="15 minutes")
              //- form#multi_form1(action="/secureMainPeerTrainingModulesS9b/" + id method="post")
              tr 
                td 3) How often will you do it?
                  input(type="text" name="student_id" value=student_id hidden)
                  input(type="text" name="answerDate" hidden)
                  input(type="text" name="questionGroupModule" value="Peer Training" hidden)
                  input(type="text" name="questionModule" value="9b" hidden)
                  input(type="text" name="questionTitle" value="S9bQ31" hidden)
                  input(type="text" name="answerTime" hidden)
                  input(type="text" name="questionNumber" value="Q31" hidden)
                  input(type="text" name="questionText" value="Spiritual Beliefs and Practices: 3) How often will you do it?" hidden)
                  //- br
                  //- button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
                td 
                  textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="Three days")
              //- form#multi_form1(action="/secureMainPeerTrainingModulesS9b/" + id method="post")
              tr 
                td 4) When will you do it?
                  input(type="text" name="student_id" value=student_id hidden)
                  input(type="text" name="answerDate" hidden)
                  input(type="text" name="questionGroupModule" value="Peer Training" hidden)
                  input(type="text" name="questionModule" value="9b" hidden)
                  input(type="text" name="questionTitle" value="S9bQ32" hidden)
                  input(type="text" name="answerTime" hidden)
                  input(type="text" name="questionNumber" value="Q32" hidden)
                  input(type="text" name="questionText" value="Spiritual Beliefs and Practices: 4) When will you do it?" hidden)
                  //- br
                  //- button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
                td 
                  textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="Early morning")
            tr 
            th A Sense of Meaning and Purpose:
            th 
              //- form#multi_form1(action="/secureMainPeerTrainingModulesS9b/" + id method="post")
              tr 
                td 1) What will you do?
                  input(type="text" name="student_id" value=student_id hidden)
                  input(type="text" name="answerDate" hidden)
                  input(type="text" name="questionGroupModule" value="Peer Training" hidden)
                  input(type="text" name="questionModule" value="9b" hidden)
                  input(type="text" name="questionTitle" value="S9bQ33" hidden)
                  input(type="text" name="answerTime" hidden)
                  input(type="text" name="questionNumber" value="Q33" hidden)
                  input(type="text" name="questionText" value="A Sense of Meaning and Purpose: 1) What will you do?" hidden)
                  //- br
                  //- button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
                td 
                  textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="Read an autobiography")
              //- form#multi_form1(action="/secureMainPeerTrainingModulesS9b/" + id method="post")
              tr 
                td 2) How much will you do?
                  input(type="text" name="student_id" value=student_id hidden)
                  input(type="text" name="answerDate" hidden)
                  input(type="text" name="questionGroupModule" value="Peer Training" hidden)
                  input(type="text" name="questionModule" value="9b" hidden)
                  input(type="text" name="questionTitle" value="S9bQ34" hidden)
                  input(type="text" name="answerTime" hidden)
                  input(type="text" name="questionNumber" value="Q34" hidden)
                  input(type="text" name="questionText" value="A Sense of Meaning and Purpose: 2) How much will you do?" hidden)
                  //- br
                  //- button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
                td 
                  textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="30 minutes")
              //- form#multi_form1(action="/secureMainPeerTrainingModulesS9b/" + id method="post")
              tr 
                td 3) How often will you do it?
                  input(type="text" name="student_id" value=student_id hidden)
                  input(type="text" name="answerDate" hidden)
                  input(type="text" name="questionGroupModule" value="Peer Training" hidden)
                  input(type="text" name="questionModule" value="9b" hidden)
                  input(type="text" name="questionTitle" value="S9bQ35" hidden)
                  input(type="text" name="answerTime" hidden)
                  input(type="text" name="questionNumber" value="Q35" hidden)
                  input(type="text" name="questionText" value="A Sense of Meaning and Purpose: 3) How often will you do it?" hidden)
                  //- br
                  //- button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
                td 
                  textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="Four days")
              //- form#multi_form1(action="/secureMainPeerTrainingModulesS9b/" + id method="post")
              tr 
                td 4) When will you do it?
                  input(type="text" name="student_id" value=student_id hidden)
                  input(type="text" name="answerDate" hidden)
                  input(type="text" name="questionGroupModule" value="Peer Training" hidden)
                  input(type="text" name="questionModule" value="9b" hidden)
                  input(type="text" name="questionTitle" value="S9bQ36" hidden)
                  input(type="text" name="answerTime" hidden)
                  input(type="text" name="questionNumber" value="Q36" hidden)
                  input(type="text" name="questionText" value="A Sense of Meaning and Purpose: 4) When will you do it?" hidden)
                  //- br
                  //- button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit
                td 
                  textarea(type="textarea" rows="3" cols="15" minlength="6" maxlength="40" id="what_stress" name="answerText" placeholder="Before going to bed")
        tr 
              button.btn.btn-primary.btn-sm.btn-module( type="submit") Submit