extends layout.pug

block append content
	h1 Administrative Users
	
	div.table
		table.table-active.table-dark.table-striped.table-bordered.table-hover.table-responsive.table-condensed.small
			thead.thead-dark
				tr.small
					if userLevel === 'System Administrator' || userLevel === 'Programmer'
						th
						th ID
					th Name
					th Joined
					th E-mail
					if userLevel === 'System Administrator' || userLevel === 'Programmer'
						th Password
					th Logged-In
					th City
					th State
					th Zip-Code
					th Privacy
					th Admin-Level
			each user in users
				tr.small
					if userLevel === 'System Administrator' || userLevel === 'Programmer'
						td 
							button.btn.btn-sm
								a.link(href="/updateMyProfileDB/" + user.id) &#9998;
						td #{user.id}
					td #{user.name}
					td #{user.date.toDateString()}
					td #{user.email}
					if userLevel === 'System Administrator' || userLevel === 'Programmer'
						td #{user.password}
					td #{user.loggedIn}
					td #{user.city}
					td #{user.state}
					td #{user.zipcode}
					td #{user.privacy}
					td #{user.userLevel}
			else
				td There are no users.

	div.modal.fade#userModal
		.modal-dialog
			.modal-content
				.modal-header 
					h3.modal-title Edit User

				.modal-body
					div#editUserForm
						form(action="/updateMyProfile/" + id method="post")
							label(for="name") Name: #{ name } 
							br
							input(type="text" name="name" placeholder= "name" )
							br
							label(for="email") E-mail: #{ email }
							br
							input(type="text" name="email" placeholder="email")
							br
							label(for="city") City: #{ city }
							br
							input(type="text" name="city" placeholder="city") 
							br
							label(for="state") State: #{ state }
							br
							input(type="text" name="state" placeholder="state")
							br 
							label(for="zipcode") Zip Code: #{ zipcode }
							br
							input(type="text" name="zipcode" placeholder="zipcode")
							p 
							p Profile privacy setting
							input(type="checkbox" name="privacy" value="Show")
							label(for="privacy") Show Profile
							br
							input(type="checkbox" name="privacy" value ="Hide")
							label(for="privacy") Hide Profile 
							p Current privacy setting
								strong  :
								br
								u
									strong #{ privacy }

							label(for="userLevel") Update user security level *
								br
								select(id="userLevel" name="userLevel" required)
									option(value="Local Administrator") Local Administrator
									option(value="Site Administrator") Site Administrator
									option(value="System Administrator") System Administrator
									option(value="Programmer") Programmer
							br
							
							p Current Security Level
								strong  :
								br
								if userLevel === 'Local Administrator'
									u 
										strong Local Administrator
								else if userLevel === 'Site Administrator'
									u 
										strong Site Administrator
								else if userLevel === 'System Administrator' 
									u
										strong System Administrator
								else if userLevel === 'Programmer' 
									u
										strong Programmer
								br
							button.btn.btn-primary.btn-lg#login-btn(type="submit") Submit

				.modal-footer
					button.btn.btn-lg.close(type="button" data-dismiss="modal") &times
